.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

@media (max-width: 400px) {
  .header {
    flex-direction: column;
  }
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
  
.header-left .profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-info h1 {
  margin: 0;
  text-align: left;
}

.header-info p {
  margin: 5px 0;
}

.header p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.header p svg {
  margin-right: 8px;
  color: #0077B5;
}

.email-link {
  color: inherit;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}