.download-cv-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.button-download-cv {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    align-content: center;
    background: #c2331a;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-download-cv:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

.button-download-cv:active {
    transform: scale(0.95);
}