.shuffle-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.9);
    outline: none;
}

button.shuffle-button:focus,
button.shuffle-button:focus-visible,
button.shuffle-button:active {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

@media (min-width: 576px) {
    .shuffle-button:hover {
        color: #c5c5c5;
    }
}

.shuffle-button:active {
    color: #c5c5c5;
    transform: scale(0.95);
}