.main-content {
    padding: 20px;
  }
  
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  max-width: 1000px;
  margin: 0 auto;
}

.section .section-content {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.section h2 {
  margin-top: 0;
}